@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root{
    --soft-red: hsl(10, 79%, 65%);
    --very-soft-red: hsla(10, 79%, 65%, 0.7);
    --cyan: hsl(186, 34%, 60%);
    --soft-cyan: hsla(186, 34%, 60%, 0.7);

    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
}

body {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--cream);
}

main {
    width: 90%;
    max-width: 384px;
}

footer {
    position: fixed;
    bottom: 1vh;
    text-align: center;
    white-space: nowrap;
    font-size: 0.8rem;
}
